<html>
    <head>

        <script
        crossorigin="anonymous"
        type="application/javascript"
        src="https://cdn.jsdelivr.net/npm/@qlik/embed-web-components@1/dist/index.min.js"
        data-host="https://decideomdata.eu.qlikcloud.com"
        data-web-integration-id="G7Ia7b4-7TQKlp8lW2cgo_zoVRmT3FOu"
        data-cross-site-cookies="true"
      ></script>


    </head>


    <body>
        
        <title>Hello world</title>


        <qlik-embed
        ui="analytics/chart"
        app-id="f4c743ed-af0b-4d1b-bb60-01acadaddc82"
        object-id="vLLJZ"
        ></qlik-embed>

        <!-- <iframe src="https://decideomdata.eu.qlikcloud.com/single/?appid=64c21c99-d795-4562-8089-47fb68761fb5&obj=qPvBxek&theme=Projet_Qlik_Cloud&opt=ctxmenu,currsel&select=$::_PeriodCalendar,4&select=$::_TypeCalendar,1" style="border:none;width:100%;height:100%;"></iframe> -->
    </body>

</html>